@import "./reset.css";

:root {
    --card-colour: #9f9f9f;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & .card{
        margin: 20px;
        width: 500px;   
        height: 800px;
        border: 5px solid var(--card-colour);
        box-shadow: 15px 15px 20px black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & .card-components {
            height: 100%;
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            
            & div {
                margin: 10px;
            }

            & .img-container{
                background-image: url("img/ZeZ5I5h-_400x400.jpg");
                background-size: cover;
                border-radius: 15%;
                width: 150px;
                height:150px;
                position: relative;

                & .img-point{
                    position: absolute;
                    left: 80%;
                    bottom: 80%;
                    width: 20%;
                    height:20%;
                    background-color: #09c809;
                    border-radius: 50%;
                    border-width: 3px;
                    border-color: #ffffff;
                    border-style: solid;
                }
            }
            
            & .text-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                & p  {
                    font-size: 20px;
                    color: #808080;
                    letter-spacing: 1px;
                    & strong {
                        font-size: 30px;
                        letter-spacing: -1px;
                        color: #000000;
                    }
                }
            }

            & .button-container{
                margin-top: 20px;
                width: 260px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #0b0beac4;
                border: 3px solid #3e3b3b7c;
                border-radius: 20px;
                box-shadow: 15px 15px 45px #aea9a981;

                & p {
                    margin-left: 10px;
                    color: #ffffff;
                    font-size: 20px;
                    letter-spacing: 2px;
                }


            }


            & .follower-container{

                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                & p  {
                    font-size: 20px;
                    color: #808080;
                    letter-spacing: 1px;
                    & strong {
                        font-size: 30px;
                        letter-spacing: -1px;
                        color: #000000;
                    }
                }
            }
        }
    }

    & .card .card-components:nth-child(3){
        height: 60%;
        flex-direction: row;
    }
    
    
}

