@import "./reset.css";

:root {
    --card-color: #ffffff;
    --card-border-color: #9f9f9f;

    --font-color: #000000;
    --sub-font-color: #808080;
    --reverse-font-color: #ffffff;
    --img-point-color: #09c809;
    --follow-me-button: #0b0beac4;

    --card-width: 500px;
    --card-height: 800px;

  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & .card{
        margin: 20px;
        width: var(--card-width);   
        height: var(--card-height);
        background-color: var(--card-color);
        border: 5px solid var(--card-border-color);
        box-shadow: 15px 15px 20px black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & .card-components {
            height: 60%;
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            
            & div {
                margin: 10px;
            }

            & p  {
                font-size: 150%;
                color: var(--sub-font-color);
                letter-spacing: 1px;
                & strong {
                    font-size: 150%;
                    letter-spacing: -1px;
                    color: var(--font-color);
                }
            }

            & .img-container{
                background-image: url("img/gettyimages-1199242002.jpg");
                background-size: cover;
                border-radius: 15%;
                width: 40%;
                height:70%;
                position: relative;

                & .img-point{
                    position: absolute;
                    left: 80%;
                    bottom: 80%;
                    width: 20%;
                    height:20%;
                    background-color: var(--img-point-color);
                    border-radius: 50%;
                    border-width: 5px;
                    border-color: var(--card-color);
                    border-style: solid;
                }
            }
            
            & .text-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            & .button-container{
                margin-top: 20px;
                width: 50%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: var(--follow-me-button);
                border: 3px solid #3e3b3b7c;
                border-radius: 20px;
                box-shadow: 15px 15px 45px #aea9a981;

                & p {
                    margin-left: 10px;
                    color: var(--reverse-font-color);
                    font-size: 100%;
                    letter-spacing: 2px;

                    & strong {
                        letter-spacing: 2px;
                        color: var(--reverse-font-color);
                    }
                }


            }


            & .follower-container{

                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
        }
    }

    & .card .card-components:nth-child(3){
        height: 60%;
        flex-direction: row;
    }
    
    
}

